<?xml version="1.0"?>
<pfsense>
  <version>23.09</version>
  <system>
    <hostname>secure-ot-browser-fw</hostname>
    <domain>local</domain>
    <timezone>UTC</timezone>
    <dnsserver>1.1.1.1</dnsserver>
    <dnsserver>8.8.8.8</dnsserver>
  </system>
  <interfaces>
    <wan>
      <if>vmx0</if>
      <ipaddr>dhcp</ipaddr>
      <descr>WAN</descr>
    </wan>
    <lan>
      <if>vmx1</if>
      <ipaddr>10.10.1.1</ipaddr>
      <subnet>24</subnet>
      <descr>OT</descr>
    </lan>
    <opt1>
      <if>vmx2</if>
      <ipaddr>192.168.1.1</ipaddr>
      <subnet>24</subnet>
      <descr>IT</descr>
    </opt1>
    <opt2>
      <if>vmx3</if>
      <ipaddr>192.168.100.1</ipaddr>
      <subnet>24</subnet>
      <descr>DMZ</descr>
    </opt2>
  </interfaces>
  <filter>
    <rule>
      <type>pass</type>
      <interface>lan</interface>
      <ipprotocol>inet</ipprotocol>
      <protocol>tcp</protocol>
      <source>
        <network>lan</network>
      </source>
      <destination>
        <address>192.168.100.20</address>
        <port>443</port>
      </destination>
      <descr>Allow OT to Kasm portal</descr>
    </rule>
    <rule>
      <type>block</type>
      <interface>lan</interface>
      <ipprotocol>inet</ipprotocol>
      <protocol>any</protocol>
      <source>
        <network>lan</network>
      </source>
      <destination>
        <any/>
      </destination>
      <descr>Deny OT outbound</descr>
    </rule>
    <rule>
      <type>block</type>
      <interface>opt2</interface>
      <ipprotocol>inet</ipprotocol>
      <protocol>any</protocol>
      <source>
        <network>opt2</network>
      </source>
      <destination>
        <network>lan</network>
      </destination>
      <descr>Deny DMZ to OT</descr>
    </rule>
    <rule>
      <type>pass</type>
      <interface>opt2</interface>
      <ipprotocol>inet</ipprotocol>
      <protocol>tcp</protocol>
      <source>
        <network>opt2</network>
      </source>
      <destination>
        <any/>
      </destination>
      <destinationport>
        <port>80</port>
        <port>443</port>
      </destinationport>
      <descr>Allow DMZ web outbound</descr>
    </rule>
  </filter>
</pfsense>
