.gcloudignore
.git
.gitignore
node_modules
**/node_modules
frontend/.next
backend/dist
infrastructure/terraform/.terraform
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
